p{
width: 250px;
height: auto;
padding: 0;
margin: 0;
overflow: visible;
display: block;
float: none;
z-index: auto;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
position: static;
opacity: 1;
cursor: default;
}
h4{
width: 250px;
height: auto;
padding: 0;
margin: 0;
overflow: visible;
display: block;
float: none;
z-index: auto;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
position: static;
opacity: 1;
cursor: default;
}
h3{
width: 250px;
height: auto;
padding: 0;
margin: 0;
overflow: visible;
display: block;
float: none;
z-index: auto;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
position: static;
opacity: 1;
cursor: default;
}