<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Guia de compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guia</ion-title>
    </ion-toolbar>
  </ion-header>


<ol>
<h3>Introducion</h3>
<p>Los celulares se dividen en tres gamas en las que varían las características y el precio, estas son Baja o entrada los más básicos pero baratos, media con mejores características y un precio mas elevado, y alta con lo mejor de todo, pero con un gran precio.
Estas también se dividen en según su fecha de salida todos los teléfonos después de dos o tres años bajan de gama por lo que la gama alta pasa a ser gama alta antigua o gama media etc.
</p>

<p>Teniendo en cuenta esto podemos ver los puntos mas importantes para elegir un telefono
</p>
<br>
  
    <li><h4>Precio</h4></li>
    <p>¿Estás dispuesto a pagar por el mejor telefono que puedas conseguir, o estás corto de dinero y buscas algo barato y alegre? Para saber tenes que entrar a los catálogos virtuales de ventas y ver justamente el precio de cada celular. Es lógico que un celular mas completo salga más caro que uno barato, pero encontrar el equilibrio justo entre calidad-precio accesible no es algo tan complicado.
    </p><br>
    <li><h4>La forma, el tamaño y el diseño</h4></li>
    <p>Vas a usar mucho tu nuevo teléfono, así que asegúrate de que sea uno que te guste. Teléfonos compactos y robustos, metal elegante y plástico colorido se ven y se sienten muy diferentes. Las pantallas grandes son ideales para navegar por la web, ver vídeos o jugar mucho, pero las pantallas más pequeñas tienden a ser más baratas.
    </p><br>
    <li><h4>La capacidad de almacenamiento</h4></li>
    <p> El almacenamiento interno se utiliza para guardar aplicaciones, mensajes, fotos/archivos y a menudo se puede ampliar con una tarjeta SD. Una aplicación de tamaño grande puede ocupar más de 1 GB con bastante facilidad, así que no seas demasiado conservador.Todas estas cosas serán las que tenés que revisar para tomar tu decisión final, amoldando al primer punto en cuestión que es la billetera que uno posea. Recordá que un celular muy barato puede ahorrar mucho dinero, pero puede ser una mala inversión si no tiene todo lo que necesitabas
    </p><br>
    <li><h4>La camara</h4></li>
    <p> La mayoría de los teléfonos inteligentes vienen con cámaras, pero pueden variar bastante. Algunos son parecidos al uso de una cámara DSLR, otros tienen cámaras frontales fantásticas para llamadas selectas y videollamadas y otros sólo tienen una sencilla cámara de apuntar y sacar en la parte posterior que no hace nada especial.</p><br>
    <li><h4>Potencia</h4></li>
    <p>Vamos a uno de los aspectos más complicados a la hora de elegir móvil, y es la potencia. No solo es complicado porque a veces pensamos que cuanto más potente es un móvil mejor, sino porque a veces es difícil distinguir bien entre las diferentes gamas de potencia que tienen los fabricantes.

Lo primero es pensar si necesitas un móvil de gama alta, de gama media o de gama baja. Los de gama alta suelen ser siempre los más potentes y más caros de cada fabricante, en muchos aspectos son los mejores, pero no siempre es necesario que gastes este dinero por potencia que quizá no vas a aprovechar en tu móvil. Por eso empezamos haciéndote la pregunta de para qué necesitas el móvil exactamente.

Si vas a querer el móvil para jugar a videojuegos, entonces es posible que sí sea interesante que te decantes por un gama alta. Si no sueles jugar al móvil no es necesario que vayas a la gama alta, aunque dependiendo de las otras necesidades que tengas quizá no te quede más remedio. Al fin y al cabo, las gamas medias no siempre dan la talla en cuestiones como la calidad fotográfica.

A la hora de distinguir los procesadores más potentes de gama alta o los de gama media, tendrás que fijarte en los números que les acompañan. Los procesadores Snapdragon de Qualcomm son los más populares, y sus gamas altas son los de la serie 800. Estos son los de la centena de 800, que pueden ser el 845 o el 888. Normalmente, cuanto más altas son las otras dos cifras más nuevo y potente es el procesador. Mientras, los Snapdragon de gama media o inferior son los de las series 600 y 700.

Lo mismo pasa con los procesadores Kirin de Huawei. Los de la serie 900 son los más potentes, los de su gama alta, mientras que los de la serie 700 son los de la gama media. Samsung hace lo mismo con sus procesadores Exynos de serie 9000 para gama alta y serie 7000 para gama media. Y luego tenemos los procesadores Helio de MediaTek, con su familia X para la gama alta y la familia P para la media. En Apple no hay pérdida, ya que solo tienen la familia A de procesadores, y cuanto más alto es el número más nuevos y potentes son.

Por lo tanto, fijándote en las series de los procesadores como te hemos dicho puedes distinguir los más potentes de los que no lo son. Dependiendo de otros aspectos como lo actualizado que necesites el móvil, puede que te merezca la pena comprar un gama alta de hace 1 o 2 años para que sea más potente que los de gama media, pero también más baratos que los más nuevos.</p>
  </ol>
<ion-button color="primary"  expand="block" shape="round" href="opciones">Siguiente</ion-button>
</ion-content>
