<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>


    </ion-toolbar>
  </ion-header>        

<div>
  <h2>
  En los tiempos actuales los celulares son indispensables
  </h2>
  
  <p>
  Por lo que en esta aplicación te voy a ayudar a encontrar uno bueno y a buen precio y pode saber si tu telefono es bueno
  </p>

</div>
<br>
<ion-button color="primary"  expand="block" shape="round" href="guia">Siguiente</ion-button>

</ion-content>
